body{
    background-image: url('../css/hopper1.jpg');
    background-repeat: repeat-x;
    text-align: center;
}

h1{
    text-align: center;
    color: #63c1e7;
    text-decoration: underline;
}

h2{
    text-align: center;
    font-style: italic;
}

h3{
    text-align: center;
    text-decoration: underline;
}

p{
    color: rgb(30,62,62);
    text-align: center;
}