body{
background-image: url('../img/ordenador-eniac.webp');
background-size: cover;
}


h1{
    text-align: center;
    color: #63c1e7;
    text-decoration: underline;
}

h2{
    text-align: center;
    font-style: italic;
}

h3{
    text-align: center;
    text-decoration: underline;
}

ul{
    text-align: center;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
}
p{
    color: azure;
    text-align: center;
}



